*{
	margin: 0px;
	padding: 0px;
	box-sizing:border;
}

.main{
	    	height: 300px;
			width: 600px;
			background: skyblue;
		}
		.a{
			height: 200px;
			width: 500px;
			background: yellow;
			padding: 20px;
			margin: 20px 20px;
		}
		.b{
			height: 100px;
			width: 425px;
			padding: 15px;
			margin: 15px 15px;
			background: gray;
		}
		.c{
			height: 50px;
			width: 300px;
			padding: 10px;
			margin: 10px 30px;
			background: lightpink;
		}